<div class="right-nav" data-spy="affix">
  <ol class="list-group" >
    <li class="list-group-item">
    <a href="#personal">Personal Details</a>
    </li>

    <li class="list-group-item">
    <a href="#skills">Skills</a>
    </li>

    <li class="list-group-item">
    <a href="#experience">Work Experience</a>
    </li>

    <li class="list-group-item">
    <a href="#objectives">Objectives</a>
    </li>

    <li class="list-group-item">
    <a href="#education">Education and Qualification</a>
    </li>
  </ol>

  <a class="btn btn-lg btn-default" href="mailto:<%= @email %>?Subject=Job%20Offer">Send me an email</a>
</div>
