<ol class="list-group right-nav" data-spy="affix">
  <li class="list-group-item">
  <a href="#personal">Personal Details</a>
  </li>

  <li class="list-group-item">
  <a href="#skills">Skills</a>
  </li>

  <li class="list-group-item">
  <a href="#experience">Work Experience</a>
  </li>

  <li class="list-group-item">
  <a href="#objectives">Objectives</a>
  </li>

  <li class="list-group-item">
  <a href="#education">Education and Qualification</a>
  </li>
</ol>
